/*
* Author: Åukasz Holeczek
* Template: Essentia Bootstrap Theme
* Version: 1.0.0
* Bootstrap version: 2.3.1
* Copyright 2012 creativeLabs
* www: http://bootstrapmaster.com
* mail: lukasz@bootstrapmaster.com
* You can download this theme on WrapBootstrap: https://bootstrapmaster.com
*/

/* Import Section
=================================================================== */
@import url("icons.css");					/* Icons. */
@import url("icons-color.css");				/* Icons. */
@import url("social-icons.css");			/* Social Icons */
@import url("fancybox.css");				/* Fancybox */
@import url("font-awesome.css");			/* Font Awesome */
@import url("font-awesome-ie7.css");		/* Font Awesome */

/* Colors Section
=================================================================== */


/* Header
=================================================================== */

header {
	height: 50px !important;
	background: rgba(255,255,255,1) !important;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	        box-shadow: 0px 1px 1px rgba(0,0,0,.35);
}


.nav-collapse.collapse {
    height: auto \9 !important;
    overflow: visible \9 !important;
	position: relative;
	z-index: 9999;
}

.navigation {
	padding: 6px;
	height: 38px !important;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

navbar-brand {
    padding: 0 15px;
  }
  .navbar-brand img{
  width: 130px;
  }
.navbar-default{
width: 100%;
z-index: 2;
}


.navbar-fixed-top .navbar-inner {
	background: rgba(255,255,255,.8) !important;
}

.navbar,
.navbar-inner,
.nav,
.navbar-inverse {
	background: transparent !important;
	filter: none !important;
	border: none;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

.navbar .nav,
.navbar .nav > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}

.navbar .nav > li > a {
	color: #414141;
	border-top: 0px solid transparent;
	text-shadow: none;
	font-size: 14px;
	padding: 12px 20px;
	padding: 12px 10px \9;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;

}
.nav__slide--black.nav  .active__black > a {
	color: #fff  ;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  	background: #080808 !important;
  	color: #fff;
}
.nav__slide--black.nav > li > a:focus,
.nav__slide--black.nav > li > a:hover {
  	background: #fff !important;
  	color: #000;}



.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color: #080808 ;
  	text-decoration: none;
  	background-color: transparent !important;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav > .active > a:hover {
  	background: #080808 !important;
  	color: #fff ;
  	-webkit-box-shadow: none;
       -moz-box-shadow: none;
          	box-shadow: none;
}

.navbar .nav .active a:hover > .caret {
  	border-top-color: #fff !important;
  	border-bottom-color: #fff !important;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  	color: #ffffff;
  	background: #080808 !important;
}

.dropdown-menu .active > a:hover {
  	color: #ffffff !important;
  	background: #080808 !important;
}

.navbar .btn-navbar {
	border: none;
	background: #fbfbf9;
	color: #222222 !important;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #fff;
	   -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #fff;
		    box-shadow: 1px 1px 1px rgba(0,0,0,0.35), inset 0px 2px 3px #fff;
	text-shadow: none;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
	margin: 0px !important;
}

.navbar .btn-navbar:hover {
	background: #fbfbf9;
	text-shadow: 0 0 1px #222222;
	color: #222222 !important;
	-webkit-box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #fff;
	   -moz-box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #fff;
		    box-shadow: 1px 0px 1px rgba(0,0,0,0.1), inset 0px 1px 1px #fff;
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}


.nav .active .dropdown-toggle .caret {
  	border-top-color: #080808 !important;
  	border-bottom-color: #080808 !important;
}


/************SERVICE****************************************/
.client__service{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.client__service--slide{
margin-top:70px;
}

.client__service--slide img{
margin: 0 auto;
}

.client__service--img:hover{
	-webkit-transition: all 1.1s;
	-webkit-transform: rotate(360deg);
	cursor: pointer;
}

.client__service--img{
width: 150px;
height: 150px;
}

.slide__img{
width: 250px;
height: 250px;
}

.work__box{
display: flex;
height: 450px;
}

.work__box--img img{
height: 500px;
position: absolute;
opacity: 2px;
z-index: 2;
}

.work__box--img a:hover{
opacity: 0.3;
background-color: rgba(255, 0, 0, 0.5);
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	body {
		padding-bottom: 20px;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {

	body {
		padding: 0px;
	}

}
